@use "./base.scss";
@use "themes";

// put your custom CSS here!

/* FORCE LES LISTES POUR ITS THEME */

.markdown-body ul,
.markdown-body ol,
.content ul,
.content ol,
.post-content ul,
.post-content ol {
  list-style: initial !important;
  padding-left: 1.5rem !important;
  margin-left: 1.2rem !important;
}

.markdown-body li,
.content li,
.post-content li {
  display: list-item !important;
}

.markdown-body ul > li::marker,
.markdown-body ol > li::marker,
.content ul > li::marker,
.content ol > li::marker,
.post-content ul > li::marker,
.post-content ol > li::marker {
  content: revert !important;
}
